<h1> this is the index page </h1>
<%=link_to "create new article", new_article_path %>
<table>
  <th>title</th>
  <th>description</th>
<%@articles.each do |f| %>
<tr>
  <td><%= f.title %></td>
  <td><%= f.description%></td>
  <td><%=link_to "edit", edit_article_path(f) %></td>
  <td><%=link_to "show", article_path(f) %></td>
  <td><%=link_to "delete", article_path(f), method: :delete , data:{confirm: "Are u sure ?"} %></td>
</tr>
<% end %>
</table>
